h1, h2 {
    color: #2c3e50;
    margin-bottom: 1.5rem;
}

h1 {
    font-size: 5rem;
    animation: fadeInUp 1s ease;
}

h2 {
    font-size: 2rem;
    padding-bottom: 0.5rem;
}

h1 p {
    font-size: 3rem;
    font-weight: 700;
    width: 15rem;
}

h3 {
    font-size: 2rem;
}

.end-text {
    font-family: 'Segoe UI';
    color: #5d5d5e;
    font-size: 1rem;
    font-weight: 500;
}
.end-text-strong {
    font-family: 'Segoe UI';
    color: #2c3e50;
    font-size: 1.1rem;
    font-weight: 600;
}

#h1-welcome {
    font-size: 5.5rem;
    font-weight: 100;
    transition-duration: 0.3s;
}
.h2-text {
    font-size: 1.5rem;
}

@media (min-width: 501px) {
    #h1-welcome {
        font-size: 8rem;
    }
}


.li-title {
    font-size: 1.5rem;
}
.li-button {
    padding: 5px;
    margin-left: 1rem;
    background-color: #fff;
    border: 1px solid #fff;
}
.li-button a {
    color: #2c3e50;
    font-family: 'Segoe UI';
    font-size: 1.2rem;
    text-decoration: none;
}

