h1, h2 {
    color: #2c3e50;
    margin-bottom: 1.5rem;
}

h1 {
    font-size: 5rem;
    animation: fadeInUp 1s ease;
}

h2 {
    font-size: 2rem;
    padding-bottom: 0.5rem;
}

h1 p {
    font-size: 3rem;
    font-weight: 700;
    width: 15rem;
}

h3 {
    font-size: 2rem;
}

.end-text {
    font-family: 'Segoe UI';
    color: #5d5d5e;
    font-size: 1rem;
    font-weight: 500;
}
.end-text-strong {
    font-family: 'Segoe UI';
    color: #2c3e50;
    font-size: 1.1rem;
    font-weight: 600;
}

#h1-welcome {
    font-size: 5.5rem;
    font-weight: 100;
    transition-duration: 0.3s;
}
.h2-text {
    font-size: 1.5rem;
}

/* 大于等于 501px -1080p -1k */
@media (min-width: 501px) and (max-width: 2558px) {
    #h1-welcome {
        font-size: calc(85vw * 0.145);
    }
}
/* 大于等于 1080 -2k..*/
@media (min-width: 1580px) {
    #h1-welcome {
        font-size: calc(85vw * 0.15);
    }
    h1 p {
        font-size: 8rem;
        font-weight: 700;
        width: 15rem;
    }
    h2 {
        font-size: 6rem;
        padding-bottom: 0.5rem;
    }
    
    .hero-card-text-top {
        width: 45rem;
        border-bottom: 20px solid #ffd000;
        transform: translateY(-25.6rem);
        transition-duration: 0.5s;
        position: relative; /* 绝对定位 */
    }
}


.li-title {
    font-size: 1.5rem;
}
.li-button {
    padding: 5px;
    margin-left: 1rem;
    background-color: #fff;
    border: 1px solid #fff;
}
.li-button a {
    color: #2c3e50;
    font-family: 'Segoe UI';
    font-size: 1.2rem;
    text-decoration: none;
}

